
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: radial-gradient(circle, #171225 0%, #201933 100%);
  
}

nav {
    background-color: #221A36;
    padding: 18px;
    box-shadow: 0 3px 8px rgba(0,0,0,.3);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #171225;
    background-color: #F7B2D9;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 8px;
    transition: 0.3s;
}
main {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

section {
    background-color: #221A36;
    padding: 30px;
    border-radius: 12px;
    border: 2px solid #C9B6F8;
}

h1 {
    color: #FBE28A;
    margin-bottom: 20px;
}

p {
    color: #A8F0C6;
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #C9B6F8;
}