
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: radial-gradient(circle, #171225, #201933);
    color: #ffffff;
    font-family: Arial, sans-serif;
}


header {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #251d3b; /
}


.logo {
    color: #7EE8D4;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
}


nav {
    display: flex;
    gap: 30px;
}


nav a {
    color: #C9B6F8;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: bold;
}


nav a:hover, nav a.deconav {
    color: white;
}


nav a.deconav {
    border-bottom: 2px solid #7EE8D4;
    padding-bottom: 5px;
}


main {
    width: 650px;
    margin: 60px auto;
}

.subtitulo {
    color: #FBE28A;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}

h1 {
    font-size: 48px;
    line-height: 40px;
    margin-bottom: 25px;
}

.descripcion {
    color: #C9B6F8;
    font-size: 18px;
    margin-bottom: 50px;
}

.Contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
uro, bordes suavizados y espacio interno */
.caja {
    background-color: #221A36;
    border: 1px solid #C9B6F8;
    border-radius: 12px;
    padding: 30px;
    width: 315px; 
}

.caja h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.caja p {
    color: #C9B6F8;
    font-size: 15px;
    margin-bottom: 25px;
}

.linkcajas {
    color: #7EE8D4;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

footer {
    width: 100%;
    border-top: 1px solid #251d3b;
    padding: 40px 40px;
    margin-top: 100px;
}


.contenidofooter {
    display: flex;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #C9B6F8;
}